* {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
}

main {
  box-sizing: border-box;
  margin: 2rem;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 90px;
}

header {
  position: sticky;
  top: 0;
  padding: 25px;
  background-color: black;
  margin: 2rem;
  opacity: 0.7;
}

ul {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
}

li {
  display: inline;
}

.splash {
  background-image: url("/billeder/splash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
}

nav {
  padding-right: 50px;
}

a {
  text-decoration: none;
  color: white;
  font-family: muli, sans-serif;
  font-weight: 200;
  font-style: normal;
}

a:hover {
  color: grey;
}

h1 {
  font-family: filmotype-maxwell, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 15rem;
  color: orange;
  padding: 0%;
}

h2 {
  font-family: muli, sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 2rem;
}

p {
  font-family: muli, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 1rem;
}

#section_2 {
  padding-top: 10px;
  display: grid;
  grid-template-columns: 1fr minmax(auto, 1200px) 1fr;
  gap: 1rem;
}
.article_2 {
  display: flex;
  flex-flow: wrap;
  justify-content: start;
  grid-column: 2;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 10px;
}

#section_3 h2 {
  background-color: black;
  color: white;
}

.galleri {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 10px;
  background-color: black;
}

.galleri img {
  height: 100%;
  object-fit: cover;
}

iframe {
  width: 100%;
  height: auto;
  aspect-ratio: 16/9;
}
